body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #1e1e1e; /* Cor de fundo mais escura */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra mais intensa */
}

h1 {
  text-align: center;
  color: #e44d26; /* Cor de destaque para o título */
}

.day {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #333; /* Cor de fundo mais escura */
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7); /* Sombra mais intensa */
}

h2 {
  color: #e44d26; /* Cor de destaque para os subtítulos */
}

.activities {
  list-style-type: none;
  padding: 0;
}

.activities li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #444; /* Cor de fundo mais escura para as atividades */
  transition: background-color 0.3s ease;
}

.activities li.completed {
  color: #888888;
  background-color: #555; /* Cor de fundo mais escura para atividades concluídas */
}

input {
  padding: 8px;
  border: 1px solid #666; /* Borda mais escura para os inputs */
  border-radius: 4px;
  margin-right: 10px;
  background-color: #1e1e1e; /* Cor de fundo mais escura para os inputs */
  color: #fff; /* Cor do texto mais clara */
}

button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #e44d26; /* Cor de destaque para os botões */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c23314; /* Cor mais escura ao passar o mouse nos botões */
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }

  .day button {
    display: block;
    margin: 10px 5px;
  }

  .total-cost {
    display: block;
    margin-top: 10px;
  }
}


#totalAllDays {
  color: #fcfcfc; /* Substitua esta cor pelo código da cor desejada, por exemplo, #555 ou #666 */
}

#total{
  color: #fcfcfc;
}
